Client/Service References/MyRedPill/RedPill.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://KnockKnock.readify.net" elementFormDefault="qualified" targetNamespace="http://KnockKnock.readify.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ContactDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GivenName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDetails" nillable="true" type="tns:ContactDetails" />
  <xs:simpleType name="TriangleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Equilateral" />
      <xs:enumeration value="Isosceles" />
      <xs:enumeration value="Scalene" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TriangleType" nillable="true" type="tns:TriangleType" />
</xs:schema>