Client/Service References/MyRedPill/RedPill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RedPill" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58341/RedPill.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58341/RedPill.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58341/RedPill.svc?xsd=xsd2" namespace="http://KnockKnock.readify.net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRedPill_WhoAreYou_InputMessage">
    <wsdl:part name="parameters" element="tns:WhoAreYou" />
  </wsdl:message>
  <wsdl:message name="IRedPill_WhoAreYou_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhoAreYouResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_FibonacciNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:FibonacciNumber" />
  </wsdl:message>
  <wsdl:message name="IRedPill_FibonacciNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:FibonacciNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_ReverseWords_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseWords" />
  </wsdl:message>
  <wsdl:message name="IRedPill_ReverseWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IRedPill_WhatShapeIsThis_InputMessage">
    <wsdl:part name="parameters" element="tns:WhatShapeIsThis" />
  </wsdl:message>
  <wsdl:message name="IRedPill_WhatShapeIsThis_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhatShapeIsThisResponse" />
  </wsdl:message>
  <wsdl:portType name="IRedPill">
    <wsdl:operation name="WhoAreYou">
      <wsdl:input wsaw:Action="http://tempuri.org/IRedPill/WhoAreYou" message="tns:IRedPill_WhoAreYou_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRedPill/WhoAreYouResponse" message="tns:IRedPill_WhoAreYou_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FibonacciNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IRedPill/FibonacciNumber" message="tns:IRedPill_FibonacciNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRedPill/FibonacciNumberResponse" message="tns:IRedPill_FibonacciNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IRedPill/ReverseWords" message="tns:IRedPill_ReverseWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRedPill/ReverseWordsResponse" message="tns:IRedPill_ReverseWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WhatShapeIsThis">
      <wsdl:input wsaw:Action="http://tempuri.org/IRedPill/WhatShapeIsThis" message="tns:IRedPill_WhatShapeIsThis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRedPill/WhatShapeIsThisResponse" message="tns:IRedPill_WhatShapeIsThis_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRedPill" type="tns:IRedPill">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WhoAreYou">
      <soap:operation soapAction="http://tempuri.org/IRedPill/WhoAreYou" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FibonacciNumber">
      <soap:operation soapAction="http://tempuri.org/IRedPill/FibonacciNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseWords">
      <soap:operation soapAction="http://tempuri.org/IRedPill/ReverseWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhatShapeIsThis">
      <soap:operation soapAction="http://tempuri.org/IRedPill/WhatShapeIsThis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RedPill">
    <wsdl:port name="BasicHttpBinding_IRedPill" binding="tns:BasicHttpBinding_IRedPill">
      <soap:address location="http://localhost:58341/RedPill.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>