Client/Service References/MyRedPill/RedPill2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58341/RedPill.svc?xsd=xsd2" namespace="http://KnockKnock.readify.net" />
  <xs:element name="WhoAreYou">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WhoAreYouResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://KnockKnock.readify.net" minOccurs="0" name="WhoAreYouResult" nillable="true" type="q1:ContactDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FibonacciNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FibonacciNumberResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseWords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseWordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseWordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatShapeIsThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WhatShapeIsThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://KnockKnock.readify.net" minOccurs="0" name="WhatShapeIsThisResult" type="q2:TriangleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>